.dashboard {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: center;
    margin: 1.5em;
}

.dashboard-item {
  flex-grow: 0;
  flex-basis: 25%;
  max-width: 25%;
  min-width: 150px;
  text-align: center;
  margin: 1.5em;
}